.requestForm {
	width:768px;
	height: 864px;
	margin-top: 16px;
	margin-right: 16px;
	border-radius: 8px;
	margin-bottom: 24px;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	font-size: 14px;
	padding:32px 4px 80px 4px;
}

.requestTableDiv{
	margin-top:0;
	padding:0;
	height:720px;
	
}

.reportTableDiv{
	margin-top:0;
	padding:0;
	min-height:290px;
	height:auto!important
}

.requestTable {
	width:758px;
	align:center;
	table-layout:fixed;
	height:auto;
	border:0;
	line-height:48px; 
	border-bottom:0; 
	border-collapse:collapse; 
	border-spacing:0;
}

.requestTable tr{
	height:48px;
	text-align:center;
	transition:all .1s linear 0s; 
	-moz-transition:all .1s linear 0s; 
	-webkit-transition:all .1s linear 0s; 
	-o-transition:all .1s linear 0s; 	
}

.requestTable tr:nth-of-type(even){
	background-color:#FFF;	
}

.requestTable tr:nth-of-type(odd){
	background-color:#F1F1F1;
}

.requestTable td{
    height:48px;
    font-size:12px;
    width:100%;  
    word-break:keep-all;/* 不换行 */   
    white-space:nowrap;/* 不换行 */    
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

.requestTable th{
	background-color: #E5E5E5;
	font-size:14px;
	height:48px;
	font-weight:normal; 
	border:1px solid; 
	text-align:center;
}

/*弹出框*/
.requestDelForm{
    width:400px;
    margin-top:600px;
}
