.requestForm {
	width:768px;
	min-height: 864px;
	height:auto!important;
	margin-top: 16px;
	margin-right: 16px;
	border-radius: 8px;
	margin-bottom: 24px;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	font-size: 14px;
	padding:32px 4px 80px 4px;
}

.requestTableDiv{
	margin-top:15px;
	padding:0;
	height:720px;
	
}


.requestTable {
	width:758px;
	align:center;
	table-layout:fixed;
	height:auto;
	border:0;
	border-bottom:0; 
	border-collapse:collapse; 
	border-spacing:0;
}

.requestTable tr{
	height:48px;
	text-align:center;
	transition:all .1s linear 0s; 
	-moz-transition:all .1s linear 0s; 
	-webkit-transition:all .1s linear 0s; 
	-o-transition:all .1s linear 0s; 	
}

.requestTable tr:nth-of-type(even){
	background-color:#FFF;	
}

.requestTable tr:nth-of-type(odd){
	background-color:#F1F1F1;
}

.requestTable td{
    height:48px;
    font-size:12px;
    width:100%;  
    word-break:keep-all;/* 不换行 */   
    white-space:nowrap;/* 不换行 */    
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

.requestTable th{
	background-color: #E5E5E5;
	font-size:14px;
	height:48px;
	font-weight:normal; 
	border:1px solid; 
	text-align:center;
}

/*弹出框*/
.requestDelForm{
    width:400px;
    margin-top:600px;
}

/*----search keywords----*/
.md_search {
	height: 45px;
	top: 16px;
	position: relative;
	margin-bottom:16px;
}

.keyword {
	color: #4AADCE;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.form1 {
	width: 230px;
	height: 32px;
	border: 1px solid #cbcbcb;
	border-radius: 20px;
	display: inline-block;
}

.search_btn1 {
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 20px;
	background: white url(../images/search_btn.png) no-repeat;
}

.textinput1 {
	width: 160px;
	height: 20px;
	border: 0px;
	border-radius: 18px;
	background: white;
	outline: none;
	position: absolute;
	top: 6px;
	left: 190px;
}

/*----content-----*/
.CText p a {
	color: #000000;
	font-size: 14px;
	margin-top: 24px;
	line-height:32px;
}

.content {
	color: #4AADCE;
	margin-top: 24px;
}

/*-----classify------*/
.classify{
	margin-top: 24px;
	
}

.classify a {
	text-decoration: none;
	color:#000;
}

.classification {
	width: 200px;
	height: 36px;
	border: 1px solid #cbcbcb;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: url(../../images/normal.png);
	background-position: 92%;
	background-repeat: no-repeat;
}

.classification_down {
	width: 200px;
	height: 36px;
	border: 1px solid #cbcbcb;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: url(../../images/down.png);
	background-position: 92%;
	background-repeat: no-repeat;
}

.classification_up {
	width: 200px;
	height: 36px;
	border: 1px solid #cbcbcb;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	outline: none;
	background-image: url(../../images/up.png);
	background-position: 92%;
	background-repeat: no-repeat;
}

