.newhomeForm {
	width:768px;
	min-height: 864px;
	height:auto;
	margin-top: 16px;
	margin-right:16px;
	border-radius: 8px;
	margin-bottom: 24px;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	font-size: 14px;
	padding:16px 16px 80px 16px;
}

.taskListTable{
	width:758px;
	text-align:center;
	table-layout:fixed;
	height:auto;
	border:0;
	line-height:48px;
	border-bottom:0;
	border-collapse:collapse;
	border-spacing:0;
}

.taskListTable tr{
	height:48px;
	text-align:center;
	transition:all .1s linear 0s;
	-moz-transition:all .1s linear 0s;
	-webkit-transition:all .1s linear 0s;
	-o-transition:all .1s linear 0s;
}

.taskListTable tr:nth-of-type(even){
	background-color:#FFF;
}

.taskListTable tr:nth-of-type(odd){
	background-color:#F1F1F1;
}

.taskListTable th{
	background-color: #E5E5E5;
	font-size:14px;
	height:48px;
	font-weight:normal;
	border:1px solid;
	text-align:center;
}

.taskListTable td{
	height:48px;
    font-size:12px;
    width:100%;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

/*----content-----*/
.CText p a {
	color: #000000;
	font-size: 14px;
	margin-top: 24px;
	line-height:32px;
}

.content {
	color: #4AADCE;
	margin-top: 24px;
}
