	<!DOCTYPE html>
< xmlns="http:/www.w3.org/1999/xhtml">
<head>
<title>Zebu Plan</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
<!-- Mobile Specific Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- 导入文件 -->
<!-- css -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link href="/static/css/com.css" type="text/css" rel="stylesheet" />
<link href="/static/plan/css/plan.css" type="text/css" rel="stylesheet" />
<link href="/static/css/application.css" type="text/css"
	rel="stylesheet" />
<link href="/static/css/chosen.css" type="text/css" rel="stylesheet" />
<style>
	a.pagination {
		margin: 8px;
		padding: 8px;
		border: solid 2px rgba(193, 216, 230, .2);
		text-decoration: none;
		text-align: center;
		color: #428bca;
		background-color: rgba(255, 255, 255, .2);
		transition: all .1s;
		}

	a.pagination:hover {
		background-color: #ebf6ff;
		}

	a.pagination-current{
		margin: 8px;
		padding: 8px;
		text-decoration: 500;
		text-align: center;
		color: black;
		transition: all .1s;
</style>
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/chosen.jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


</head>
<body>
<div class="checkbox checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1" >
    <label for="inlineCheckbox1"> Inline One </label>
</div>
<div class="form-group">
                <label class="font-noraml">Multi select</label>
                <div class="input-group">
                <select id = "aa" data-placeholder="Choose a Country..." class="chosen-select" multiple style="width:350px;" tabindex="4" >
                <option value="">Select</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Aland Islands">Aland Islands</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
					      </select>
                </div>
                </div>

</body>
<script>
	
	$(document).ready(function(){
		
             $(".chosen-select").chosen({});

             $("#inlineCheckbox1").click(function (){
                 console.log("is checked?:    "+$("#inlineCheckbox1").is(':checked'));
              if ($("#inlineCheckbox1").is(':checked'))
              {
                console.log("checked");            
                $(".chosen-select").chosen("destroy");
                $(".chosen-select").chosen({max_selected_options: -1});                    
               
              }
              else
              {
                console.log("unchecked");           
               $(".chosen-select").chosen("destroy");
               $(".chosen-select").chosen({});
 
              }
             });
            
           }

	);
	</script>
</html>
