<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml">
<head>
<title>Zebu Plan</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" media="screen" />
<link rel="Bookmark" href="/static/images/favicon.ico">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
<!-- Mobile Specific Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- 导入文件 -->
<!-- css -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link href="/static/css/chosen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/com.css" type="text/css" rel="stylesheet" />
<link href="/static/css/com.css" type="text/css" rel="stylesheet" />
<link href="/static/plan/css/plan.css" type="text/css" rel="stylesheet" />
<link href="/static/css/application.css" type="text/css" rel="stylesheet" />
<link href="/static/css/filter.css" type="text/css" rel="stylesheet" />
<style>
	a.pagination {
		margin: 8px;
		padding: 8px;
		border: solid 2px rgba(193, 216, 230, .2);
		text-decoration: none;
		text-align: center;
		color: #428bca;
		background-color: rgba(255, 255, 255, .2);
		transition: all .1s;
		}
		
	a.pagination:hover {
		background-color: #ebf6ff;
		}

	a.pagination-current{
		margin: 8px;
		padding: 8px;
		text-decoration: 500;
		text-align: center;
		color: black;
		transition: all .1s;
</style>
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/chosen.jquery.js"></script>
<script type="text/javascript">
	/mobi/i.test(navigator.userAgent) && !location.hash
			&& setTimeout(function() {
				if (!pageYOffset)
					window.scrollTo(0, 1);
			}, 1000);

	function changeImage() {
		document.getElementById("mybtn1").className = "classification1";
		document.getElementById("mybtn2").className = "classification2";
		if (document.getElementById("mybtn").className != "classification_down") {
			document.getElementById("mybtn").className = "classification_down";
		} else {
			document.getElementById("mybtn").className = "classification_up";
		}
	}

	function changeImage1() {
		document.getElementById("mybtn").className = "classification";
		document.getElementById("mybtn2").className = "classification2";
		if (document.getElementById("mybtn1").className != "classification1_down") {
			document.getElementById("mybtn1").className = "classification1_down";
		} else {
			document.getElementById("mybtn1").className = "classification1_up";
		}
	}

	function changeImage2() {
		document.getElementById("mybtn1").className = "classification1";
		document.getElementById("mybtn").className = "classification";
		if (document.getElementById("mybtn2").className != "classification2_down") {
			document.getElementById("mybtn2").className = "classification2_down";
		} else {
			document.getElementById("mybtn2").className = "classification2_up";
		}
	}

	function showHistory(id) {
		if($("#history"+id).attr("aria-checked") == "false"){			
			document.getElementById("history"+id).style.display='inline-block';
			$("#history"+id).attr("aria-checked","true");
		}else{
			document.getElementById("history"+id).style.display='none';
			$("#history"+id).attr("aria-checked","false");
		}
   
}

function validatetime(tab_id) {
	var status = document.getElementById("statusEdit" + tab_id).value;
	var closeDate = new Date();
	var closeyear = document.getElementById("closeyearid" + tab_id).value;
	var closemonth = document.getElementById("closemonthid" + tab_id).value;
	var closeday = document.getElementById("closedayid" + tab_id).value;
	var closehour = document.getElementById("closehourid" + tab_id).value;
	var closeminute = document.getElementById("closeminuteid" + tab_id).value;
	var closesecond = document.getElementById("closesecondid" + tab_id).value;
	closeDate.setFullYear(closeyear, closemonth - 1, closeday);
	var startDate = new Date();
	var startyear = document.getElementById("startyearid" + tab_id).value;
	var startmonth = document.getElementById("startmonthid" + tab_id).value;
	var startday = document.getElementById("startdayid" + tab_id).value;
	var starthour = document.getElementById("starthourid" + tab_id).value;
	var startminute = document.getElementById("startminuteid" + tab_id).value;
	var startsecond = document.getElementById("startsecondid" + tab_id).value;
	startDate.setFullYear(startyear, startmonth - 1, startday);
	var today = new Date();
	if (!(startyear == "" && startmonth == "" && startday == "" && starthour == "" && startminute == "" && startsecond == "")){
		if (startyear == "" || startmonth == "" || startday == "" || starthour == "" || startminute == "" || startsecond == ""){
			$("#starttime" + tab_id).text("请填完整Start Time");
			return false;
		}
		else {
		$("#starttime" + tab_id).text("");
		}
	}
	if (!(closeyear == "" && closemonth == "" && closeday == "" && closehour == "" && closeminute == "" && closesecond == "")){
		if (closeyear == "" || closemonth == "" || closeday == "" || closehour == "" || closeminute == "" || closesecond == ""){
			$("#closetime" + tab_id).text("请填完整Close Time");
			return false;
		}
		else {
		$("#closetime" + tab_id).text("");
		}
	}
	if (closeDate>today) {
		$("#checkClose1" + tab_id).text("Close time不能是未来时间");
		return false;
	    }
		else{
			$("#checkClose1"+tab_id).text("");
		}
	if (startyear !== "")
	{
		if (closeyear !== "" && closeDate < startDate) {
		$("#checkStart" + tab_id).text("Close time不能早于Start time");
		return false;
		} else {
		$("#checkStart" + tab_id).text("");
		}
		if (closeyear == "" && status == "close") {
			$("#checkclose" + tab_id).text("请输入Close time");
			return false;
			} else {
			$("#checkclose" + tab_id).text("");
			}
	}else {
		if(closeyear !== ""){
		$("#checkclose" + tab_id).text("请先输入Start time");
		return false;
		}else {
		$("#checkclose" + tab_id).text("");
		}
	}
	return true;
}
	var flag_browser = "other";
	$(document).ready(function() {
		//判断浏览器类型
		if (window.ActiveXObject) {
			flag_browser = "ie";
		}
	})
$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

</script>
</head>
<body>
	<!-- 头文件 -->
	<div class="head">
		<img class="imgleftright" src="/static/images/background-left.png" />
		<img class="imgcenter" src="/static/images/background-middle.png" />
		<img class="imgleftright" src="/static/images/background-right.png" />
		<div class="clearfix"></div>
		<table class="headtable">
			<tr>
				<td><img src="/static/images/zebu.png" /></td>
			</tr>
			<tr>
				<td>
					<ul class="select">
						<li class="select-list">
							<dl id="select1">
								<dd>
									<a href="/">Login</a>
								</dd>
								<dd>
									<a href="/home">Home</a>
								</dd>
								<dd>
									<a href="/request">Request</a>
								</dd>
								<dd class="select-all selected">
									<a href="/plan">Plan</a>
								</dd>
								<dd>
									<a href="/report">Report</a>
								</dd>
							</dl>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
        <div class="divleft"></div>
	<!-- 中间部分 -->
	<div class="middle">
		<div class="middletitle">
			<p>
				<span class="middletite1"> <a href="#" class="title">Login</a>&nbsp;&nbsp;-&nbsp;&nbsp;
				</span> <span class="middletite2">Plan</span>
			</p>
		</div>
		<!-- 左侧模块 -->
		<div class="middleleft">
			<div class="middleleft2" style="position: relative; top: -16px;">
				<div class="middleleft_center">
					<ul>
						<li id="middleleft_center_topli"><a href="exportTab" style="color:#8e8e8e">Export
								Excel</a></li>
						<li><a href="#">&nbsp;</a></li>
						<li><a href="#">&nbsp;</a></li>
						<li id="middleleft_center_bottomli"><a href="#">&nbsp;</a></li>
					</ul>
				</div>
			</div>
			<!--弹出模态框（Modal） -->
			<div class="modal fade" id="NewPlanModal" tabindex="-1" role="dialog"
				aria-labelledby="NewPlanModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width: 800px">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="NewPlanModalLabel">New Plan</h4>
						</div>
						<div class="modal-body">
							<form class="newPlanForm" method="POST">
								{% csrf_token %} <input type="hidden" name="newPlanId">
								<table class="newPlanTable">
									<tr>
										<th scope="col" width="84px"><span>&nbsp;&nbsp;</span></th>
										<th scope="col" width="84px"><span>ID</span></th>
										<th scope="col" width="120px"><span>Product</span></th>
										<th scope="col" width="120px"><span>TF case</span></th>
										<th scope="col" width="360px"><span>Action
												Description</span></th>
									</tr>
									{% for tab in request_tab %}
									<tr>
										<td><input class="newPlanBox" type="checkbox"
											id="newPlan{{tab.id}}" name="newPlan{{tab.id}}" value='N'></td>
										<td>{{tab.id}}</td>
										<td>{{tab.project}}</td>
										<td>{{tab.tf_case}}</td>
										<td>{{tab.action_discription|safe}}</td>
									</tr>
									<script type="text/javascript">
										$(function() {
											$("#newPlan{{tab.id}}").prop(
													"checked", false);
											$("#newPlan{{tab.id}}").val("N");
											$("#newPlan{{tab.id}}").click(
													function() {
														if ($(this).is(
																":checked")) {
															$(this).val("Y");
														} else {
															$(this).val("N");
														}
													});
										});
									</script>
									{% endfor %}
								</table>
								<div class="newPlanDiv">
									<button class="newPlanBtn" type="text"
										style="background-color: #FB8C8C" data-dismiss="modal">cancel</button>
									<button class="newPlanBtn" type="submit"
										style="background-color: #67D00B">confirm</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- 添加模态框（Modal）结束 -->
		</div>
		<!-- 中间模板 -->
		<div class="divcenter">

			<div class="md_search">
				<span class="keyword">Search Keywords：</span>
				<form class="form1">
					<input name="submit" type="submit" class="search_btn1" value="" />
					<input name="text" type="text" class="textinput1" value="">
				</form>
			</div>
			<div class="CText">
				<p>
					<span class="content">Product：</span> 
					<button id="select_all_product" class="btn btn-xs" onclick="select_all('product')">ALL</button>
					{% for tab in productlist %}
            		<button id="p{{forloop.counter}}" name="filter-product" class="btn btn-white btn-xs" aria-checked="false">{{tab}}</button>
					{% endfor %}
				</p>
				<p>
					<span class="content">Status：</span> 
					<button id="select_all_status" class="btn btn-xs" onclick="select_all('status')">ALL</button>
            		{% for tab in statuslist %}
            		<button id="s{{forloop.counter}}" name="filter-status" class="btn btn-white btn-xs" aria-checked="false">{{tab}}</button>
					{% endfor %}
				</p>
				<p><button onclick="dofilter()">Go</button></p>
				<input style="display:none" id="filter" value="{{filter}}" />
			</div>

			<div class="classify ">
				<a href="#">
					<button type="button" class="classification_down" id="mybtn"
						onclick="changeImage()" style="background-color: #F8F8F8">Request
						time</button>
				</a> <a href="#">
					<button type="button" class="classification1" id="mybtn1"
						onclick="changeImage1()" style="background-color: #F8F8F8">Product</button>
				</a> <a href="#">
					<button type="button" class="classification2" id="mybtn2"
						onclick="changeImage2()" style="background-color: #F8F8F8">Status</button>
				</a>
			</div>
			 <div class="form-group">
                <label class="font-noraml" style="width:230px;">Select Product</label>
				 <label class="font-noraml">Select Status</label>
                <div class="input-group">
					<label> <input  type="checkbox" id="checkbox1"  checked="checked" > </label>
                <select data-placeholder="Choose Product" id="selectproduct" class="chosen-select-product" multiple style="width:200px;" tabindex="4" disabled>
                {%for i in productlist%}
                 <option value={{i}}>{{i}}</option>
				{%endfor%}
                </select>
					<label style="width:20px"> </label>
					<label> <input type="checkbox" id="checkbox2"  checked="checked"> </label>
					<select data-placeholder="Choose Status" id="selectstatus" class="chosen-select-product" multiple style="width:200px;" tabindex="4" disabled>
						<option value="wait for bitfile">wait for bitfile</option>
						<option value="wait for SW">wait for SW</option>
						<option value="wait for zebu">wait for zebu</option>
						<option value="ongoing">ongoing</option>
						<option value="suspend">suspend</option>
						<option value="close">close</option>
                </select>
					<label style="width:20px"> </label>
					<button id="searchbutton" >Go!</button>
                </div>
				 <script>
					 $("#selectproduct").chosen();
					 $("#selectstatus").chosen();
					 $(document).ready(function(){
						 $("#checkbox1").click(function (){
							  //console.log("is checked?:    "+$("#checkbox1").is(':checked'));
							  if ($("#checkbox1").is(':checked'))
							  {
								  //console.log("checked");
								  $("#selectproduct").val("");
								  $("#selectproduct").attr("disabled","disabled");
								  $("#selectproduct").trigger("chosen:updated");
							  }
							  else
							  {
								  //console.log("unchecked");
								  $("#selectproduct").removeAttr("disabled");
								  $("#selectproduct").trigger("chosen:updated");
							  }
						  });

						  $("#checkbox2").click(function (){
							  //console.log("is checked?:    "+$("#checkbox2").is(':checked'));
							  if ($("#checkbox2").is(':checked'))
							  {
								  //console.log("checked");
								  $("#selectstatus").val("");
								  $("#selectstatus").attr("disabled","disabled");
								  $("#selectstatus").trigger("chosen:updated");
							  }
							  else
							  {
								  //console.log("unchecked");
								 $("#selectstatus").removeAttr("disabled");
								 $("#selectstatus").trigger("chosen:updated");
							  }
						  });

						  $("#searchbutton").click(function (){
							  var productlist = $("#selectproduct").val();
							  var statuslist =$("#selectstatus").val();
							  console.log(productlist);
							  console.log(statuslist);
							  //window.location.href='?status'+'<%=statuslist%>';
							 window.location.href='?status='+statuslist.toString();
							 //

						  });
					 })
				</script>
			 </div>
			<div class="planForm">
				<div data-toggle="modal" data-target="#NewPlanModal"  style="cursor:pointer;margin-top:-10px">
				{% if perms.request.change_requesttable %}
				<tr>
					<td><img src="/static/images/tianjia.png" /></td>
					<span Style="color:#6bd5f8">Add New TF case</span>
				</tr>
				{% endif %}
				</div>
				<div id="planTable" class="planTableDiv">
					<table class="planTable" id="Box">
						<tr>
							<th scope="col" width="84px"><span>Product</span></th>
							<th scope="col" width="84px"><span>Module</span></th>
							<th scope="col" width="222px"><span>Action
									Description</span></th>
							<th scope="col" width="80px"><span>Owner</span></th>
							<th scope="col" width="120px"><span>Status</span></th>
							<th scope="col" width="88px"><span>Start Time</span></th>
							<th scope="col" width="74px"><span>Detail</span></th>
						</tr>
						{% for tab in plan_tab %}
						<tr id="planItem{{tab.id}}">
							<td id=project{{tab.id}}>{{tab.project}}</td>
							<td id=module{{tab.id}}>{{tab.module}}</td>
							<td id=action_discription{{tab.id}}>{{tab.action_discription|safe}}</td>
							<td >{{tab.owner}}</td>
							<td id=status{{tab.id}}>{{tab.status}}</td>
							<td id=start_time{{tab.id}}>{{tab.start_time | date:"Y-m-d H:i:s"}}</td>
							<td><a data-toggle="modal"
								data-target="#planModal{{tab.id}}" style="cursor: pointer"><img
									style="vertical-align: middle" src="/static/images/down.png" /></a></td>
							<td style="display:none">{{tab.isdelay}}</td>
						</tr>
						<script type="text/javascript">
							$(function() {
								/* if none, donot show*/
								/*var pglis = document.getElementById(
										"viewProgress{{tab.id}}")
										.getElementsByTagName("li");
								var stimelis = document.getElementById(
										"viewStime{{tab.id}}")
										.getElementsByTagName("li");
								if (pglis[1].innerHTML) {
									$('#viewProgress{{tab.id}}').show();
								} else {
									$('#viewProgress{{tab.id}}').hide();
								}

								if (stimelis[1].innerHTML) {
									$('#viewStime{{tab.id}}').show();
								} else {
									$('#viewStime{{tab.id}}').hide();
								}*/
								/* highlight delay item */
								var statustd = document.getElementById(
										"planItem{{tab.id}}")
										.getElementsByTagName("td");
								if ("delay" == statustd[7].innerHTML) {
									$('#planItem{{tab.id}}').css(
											'background-color', 'red');
								}
							});
						</script>
						<!--弹出模态框（Modal） -->
						<div class="modal fade" id="planModal{{tab.id}}" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog" style="width: 800px">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="planModalLabel">Application
											List</h4>
									</div>
									<div class="modal-body">
										<div class="modalForm">
											<div class="modalFormContent" id="readPlanDiv{{tab.id}}">
												<!--  <div class="new_request_title">Application List</div> -->
												<ul>
													<li class="rqleft">ID:</li>
													<li class="borderBottom">{{tab.id}}</li>
												</ul>
												<ul>
													<li class="rqleft">Product:</li>
													<li id="product{{tab.id}}" class="borderBottom" >{{tab.project}}</li>
												</ul>
												<ul>
													<li class="rqleft">Classification:</li>
													<li id="readClassification{{tab.id}}" class="borderBottom">{{tab.classification}}</li>
												</ul>
												<ul>
													<li class="rqleft">Module:</li>
													<li id="readmodule{{tab.id}}" class="borderBottom">{{tab.module}}</li>
												</ul>
												<ul>
													<li class="rqleft">TF Case:</li>
													<li id="tf_case{{tab.id}}" class="borderBottom">{{tab.tf_case}}</li>
												</ul>
												<ul>
													<li class="rqleft">Action Description:</li>
													<li id="readaction_discription{{tab.id}}" class="borderBottom">{{tab.action_discription|safe}}</li>
												</ul>
												<ul>
													<li class="rqleft">Environment:</li>
													<li id="environment{{tab.id}}" class="borderBottom">{{tab.environment}}</li>
												</ul>
												<ul>
													<li class="rqleft">Owner:</li>
													<li class="borderBottom">{{tab.owner}}</li>
												</ul>
												<ul>
													<li class="rqleft">Priority:</li>
													<li id="priority{{tab.id}}" class="borderBottom">{{tab.priority}}</li>
												</ul>
												<ul id="viewStatus{tab.id}">
													<li class="rqleft">Status:</li>
													<li id="readstatus{{tab.id}}" class="borderBottom">{{tab.status}}</li>
												</ul>
												<ul id="viewProgress{{tab.id}}">
													<li class="rqleft">Progress:</li>
													<li id="progress{{tab.id}}" class="borderBottom">{{tab.progress |safe}}</li>
												</ul>
												<ul>
                                                <li class="rqleft">Server ID:</li>
                                                <li id="serverid{{tab.id}}" class="borderBottom">{{tab.server_ID}}</li>
                                            </ul>
                                             <ul>
                                                <li class="rqleft">Application Time:</li>
                                                <li class="borderBottom">{{tab.application_time | date:"Y-m-d H:i"}}</li>
                                            </ul>
												<ul id="viewStime{{tab.id}}">
													<li class="rqleft">Start Time:</li>
													<li id="readstart_time{{tab.id}}" class="borderBottom">{{tab.start_time | date:"Y-m-d H:i:s"}}</li>
												</ul>
												<ul>
													<li class="rqleft">Request Duration:</li>
													<li id="request_duration{{tab.id}}" class="borderBottom">{{tab.request_duration}}</li>
												</ul>
												<ul>
													<li class="rqleft">Daily Duration:</li>
													<li id="daily_duration{{tab.id}}" class="borderBottom">{{tab.daily_duration}}</li>
												</ul>
												<ul>
													<li class="rqleft">Total Duration:</li>
													<li id="duration{{tab.id}}" class="borderBottom">{{tab.duration}}Hour</li>
												</ul>
												<ul id="viewCtime{{tab.id}}">
													<li class="rqleft">Close Time:</li>
													<li id="close_time{{tab.id}}" class="borderBottom">{{tab.close_time | date:"Y-m-d H:i:s"}}</li>
												</ul>
												<ul >
													<li class="rqleft">Next Target:</li>
													<li id="next_target{{tab.id}}" class="borderBottom">{{tab.next_target}}</li>
												</ul>
												 <ul>
								      <li class="rqleft">Acceptance:</li>
								      <li class="borderBottom">{{tab.acceptance}}</li>
								  </ul>
											</div>
											{% if perms.request.change_requesttable%}
											<div id="editPlanForm{{tab.id}}">
												<form class="modalForm" method="POST" id="{{tab.id}}">
													{% csrf_token %}
													<div class="modalFormContent">
														<ul>
															<li class="rqleft">ID:</li>
															<li class="borderBottom"><input id="idEdit"
																type="text" name="idEdit" value={{tab.id}} readonly>
															</li>
														</ul>
														<ul>
															<li class="rqleft">Product:</li>
															<li><span> <select class="borderWidth"
																	name="projectEdit" id="projectEdit{{tab.id}}">
																		<option selected>{{tab.project}}</option>
																		<option>iwhale2</option>
																		<option>isharkl2</option>
																		<option>Other</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Classification:</li>
															<li><span> <select class="borderWidth"
																	name="classificationEdit" id="classificationEdit{{tab.id}}">
																		<option selected>{{tab.classification}}</option>
																		<option>Function</option>
																		<option>Misc</option>
																		<option>Performance</option>
																		<option>Power</option>
																		<option>Thermal</option>
																		<option>Kernel</option>
																		<option>Other</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Module:</li>
															<li><span> <select class="borderWidth"
																	name="moduleEdit" id="moduleEdit{{tab.id}}">
																		<option selected>{{tab.module}}</option>
																		<option>APPS</option>
																		<option>BSP</option>
																		<option>MM</option>
																		<option>Modem</option>
																		<option>Power</option>
																		<option>Stability</option>
																		<option>Kernel</option>
																		<option>Graphics</option>
																		<option>DDR</option>
																		<option>WCN</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">TF Case:</li>
															<li><span> <select class="borderWidth"
																	id="tfcaseEdit{{tab.id}}" name="tfcaseEdit">
																		<option selected="">{{tab.tf_case}}</option>
																		<option>Power-CHIP</option>
																		<option>Power-DISP</option>
																		<option>Power-MM</option>
																		<option>Power-GPU</option>
																		<option>Power-Modem</option>
																		<option>Performance-DDR</option>
																		<option>Performance-Benchmark</option>
																		<option>Performance-GPU</option>
																		<option>Performance-DISP</option>
																		<option>Performance-Storage</option>
																		<option>Performance-USB</option>
																		<option>Fun-DISP</option>
																		<option>Fun-CV</option>
																		<option>Fun-Android boot</option>
																		<option>Fun-GPU</option>
																		<option>Fun-SEC</option>
																		<option>Fun-DDR</option>
																		<option>Fun-Storage</option>
																		<option>Fun-USB/ADB</option>
																		<option>Fun-RomCode</option>
																		<option>Fun-SPL</option>
																		<option>Fun-Uboot</option>
																		<option>Fun-Kernel</option>
																		<option>Fun-TinyAndroid</option>
																		<option>ZEBU Platform</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Action Description:</li>
															<li><textarea class="borderWidth modalText"
																	id="actionDiscriptionEdit{{tab.id}}"
																	name="actionDiscriptionEdit" style=vertical-align:text-top>{{tab.action_discription}}</textarea>
															</li>
														</ul>
														<ul>
															<li class="rqleft">Environment:</li>
															<li><span> <select class="borderWidth"
																	name="environmentEdit" id="environmentEdit{{tab.id}}">
																		<option selected>{{tab.environment}}</option>
																		<option>Zebu-JC</option>
                                     									<option>Zebu-SPRD</option>
																		<option>Hybrid</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Owner:</li>
															<li class="borderBottom"><input
																type="text" name="ownerEdit" id="ownerEdit{{tab.id}}" value={{tab.owner}} readonly>
															</li>
														</ul>
														<ul>
															<li class="rqleft">Priority:</li>
															<li><span> <select class="borderWidth"
																	id="priorityEdit{{tab.id}}" name="priorityEdit">
																		<option selected>{{tab.priority}}</option>
																		<option>High</option>
																		<option>Normal</option>
																		<option>Low</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Status:</li>
															<li><span> <select class="borderWidth"
																	id="statusEdit{{tab.id}}" name="statusEdit">
																		<option selected>{{tab.status}}</option>
																		<option>wait for bitfile</option>
																		<option>wait for SW</option>
																		<option>wait for zebu</option>
																		<option>ongoing</option>
																		<option>suspend</option>
																		<option>close</option>
																</select>
															</span></li>
														</ul>
														<ul>
															<li class="rqleft">Progress:</li>
															<li><textarea class="borderWidth modalText"
																	id="progressEdit{{tab.id}}" name="progressEdit" style=vertical-align:text-top>{{tab.progress}}</textarea>
															</li>
														</ul>
														<ul>
                                                        <li class="rqleft">Server ID:</li>
                                                        <li>
                                                            <span>
                                                                <select class="borderWidth" id="serverIdEdit{{tab.id}}" name="serverIdEdit">
                                                                    <option selected>{{tab.server_ID}}</option>
                                                                    <option >ZEBU01,M0&1</option>
                                                                    <option>ZEBU02,M0&2</option>
                                                                    <option>ZEBU03,M0&3</option>
                                                                </select>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li class="rqleft">Application Time:</li>
                                                        <li class="borderBottom">
                                                            <span>
                                                                <input size="16" type="text" value="{{tab.application_time | date:'Y-m-d H:i'}}" readonly id="applicationTimeEdit{{tab.id}}" name="applicationTimeEdit" class="form_datetime">
                                                            </span>
                                                        </li>
														</ul>

														<ul>
															<li class="rqleft">Start Time:</li>
															<li><select name="yearEdit" id ="startyearid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"Y"}}</option>
																	{% for year in valid_time.0 %}
																	<option>{{year}}</option> {% endfor %}
															</select> <select name="monthEdit" id ="startmonthid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"m"}}</option>
																	{% for month in valid_time.1 %}
																	<option>{{month}}</option> {% endfor %}
															</select> <select name="dayEdit" id ="startdayid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"d"}}</option>
																	{% for day in valid_time.2 %}
																	<option>{{day}}</option> {% endfor %}
															</select> &nbsp;&nbsp;&nbsp;&nbsp; <select name="hourEdit" id ="starthourid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"H"}}</option>
																	{% for hour in valid_time.3 %}
																	<option>{{hour}}</option> {% endfor %}
															</select> <select name="minuteEdit" id ="startminuteid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"i"}}</option>
																	{% for min in valid_time.4 %}
																	<option>{{min}}</option> {% endfor %}
															</select> <select name="secondEdit" id ="startsecondid{{tab.id}}">
																	<option selected>{{tab.start_time | date:"s"}}</option>
																	{% for sec in valid_time.4 %}
																	<option>{{sec}}</option> {% endfor %}
															</select></li>
														</ul>
														<p id="starttime{{tab.id}}" style="text-align:center;color:red"></p>
														<ul>
															<li class="rqleft">Request Duration:</li>
															<!-- <li><span> <select class="borderWidth"
																	id="requestDuration" name="requestDurationEdit">
																		<option selected>{{tab.request_duration}}</option> 
																		{%for i in valid_duration %}
																		<option>{{i}}</option> {% endfor %}
																</select>
															</span></li> -->
															<li><select name="durationHourEdit" id="durationHourEdit{{tab.id}}">

																	<option selected>{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"6" }}{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"5" }}</option>
																	{% for hour in valid_duration.0 %}
																	<option>{{hour}}</option> {% endfor %}
															</select>Hour<select name="durationDayEdit" id="durationDayEdit{{tab.id}}">
																	<option selected>{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"4" }}{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"3" }}</option>
																	{% for day in valid_duration.1 %}
																	<option>{{day}}</option> {% endfor %}
															</select>Day<select name="durationPieceEdit" id="durationPieceEdit{{tab.id}}">
																	<option selected>{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"2" }}{{tab.request_duration | cut:"Hour"|cut:"Day"|cut:"Piece"| get_digit:"1" }}</option>
																	{% for piece in valid_duration.2 %}
																	<option>{{piece}}</option> {% endfor %}
															</select>Piece</li>
														</ul>
														<ul>
															<li class="rqleft">Daily Duration:</li>
															<!-- <li class="borderBottom"><input id="dailyDurationEdit"
																name="dailyDurationEdit" type="text" value="{{tab.daily_duration}}"
																readonly></input></li> -->
															<li><select name="dailyduraHourEdit" id="dailyduraHourEdit{{tab.id}}">
																	<option selected>{{tab.daily_duration | cut:"None"|cut:"Hour"|cut:"Piece"| get_digit:"4" }}{{tab.daily_duration | cut:"None"|cut:"Hour"|cut:"Piece"| get_digit:"3" }}</option>
																	{% for hour in valid_dailyDura.0 %}
																	<option>{{hour}}</option> {% endfor %}
															</select>Hour<select name="dailyduraPieceEdit" id="dailyduraPieceEdit{{tab.id}}">
																	<option selected>{{tab.daily_duration | cut:"None"|cut:"Hour"|cut:"Piece"| get_digit:"2" }}{{tab.daily_duration | cut:"None"|cut:"Hour"|cut:"Piece"| get_digit:"1" }}</option>
																	{% for piece in valid_dailyDura.1 %}
																	<option>{{piece}}</option> {% endfor %}
															</select>Piece</li>
														</ul>
														<ul>
													<li class="rqleft">Total Duration:</li>
													<li id="totalduration{{tab.id}}" class="borderBottom">{{tab.duration}}Hour</li>
													<li><img style="right:16px" src="/static/images/bianji.png" onclick="showHistory({{tab.id}})"></li>
												</ul>
														<div id="history{{tab.id}}" style="height:100px;overflow-x:scroll;display:none" aria-checked="false">
														{% for tab2 in history_tab %}
														{% ifequal tab2.request_id tab.id %}
														<span style="width:101px; float:left;line-height:normal;">
															<input style="width:100px;color: #A2A2A2;line-height:normal;" type="text" name="dateEdit" id="dateEdit{{tab2.id}}" value={{tab2.change_date | date:"Y-m-d"}}  readonly>
															<input style="width:100px;line-height:normal;" type="text" name="durationEdit" id="durationEdit{{tab2.id}}" value={{tab2.daily_duration}}">
														</span>
														{% endifequal %}
														{% endfor %}
														<input id="changeIdlist{{tab.id}}" name="changeIdlist"  style="text-align:center" hidden />
														</div>
														<!-- <ul>
															<li class="rqleft">Total Duration:</li>
															<li class="borderBottom"><input id="durationEdit"
																name="durationEdit" type="text" value="{{tab.duration}}"
																readonly></input></li>
														</ul> -->

														<ul>
															<li class="rqleft">Close Time:</li>
															<li><select name="closeYearEdit" id="closeyearid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"Y"}}</option>
																	{% for year in valid_time.0 %}
																	<option>{{year}}</option> {% endfor %}
															</select> <select name="closeMonthEdit" id="closemonthid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"m"}}</option>
																	{% for month in valid_time.1 %}
																	<option>{{month}}</option> {% endfor %}
															</select> <select name="closeDayEdit" id="closedayid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"d"}}</option>
																	{% for day in valid_time.2 %}
																	<option>{{day}}</option> {% endfor %}
															</select> &nbsp;&nbsp;&nbsp;&nbsp; <select name="closeHourEdit" id="closehourid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"H"}}</option>
																	{% for hour in valid_time.3 %}
																	<option>{{hour}}</option> {% endfor %}
															</select> <select name="closeMinuteEdit" id="closeminuteid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"i"}}</option>
																	{% for min in valid_time.4 %}
																	<option>{{min}}</option> {% endfor %}
															</select> <select name="closeSecondEdit" id="closesecondid{{tab.id}}">
																	<option selected>{{tab.close_time | date:"s"}}</option>
																	{% for sec in valid_time.4 %}
																	<option>{{sec}}</option> {% endfor %}
															</select></li>
														</ul>
														<p id="closetime{{tab.id}}" style="text-align:center;color:red"></p>
														<p id="checkStart{{tab.id}}" style="text-align:center;color:red"></p>
														<p id="checkclose{{tab.id}}" style="text-align:center;color:red"></p>
														<p id="checkClose1{{tab.id}}" style="text-align:center;color:red"></p>
														<ul>
															<li class="rqleft">Next Target:</li>
															<li><textarea class="borderWidth modalReportText"
																	id="next_targetEdit{{tab.id}}" name="next_targetEdit">{{tab.next_target}}</textarea>
															</li>
														</ul>
														<ul>
									     <li class="rqleft">Acceptance:</li>
									     <li class="borderBottom">
                                  <input id="acceptanceEdit{{tab.id}}" type="text" name=acceptanceEdit" value={{tab.acceptance}} readonly>
                                </li>
								      </ul>
								      <input id="userInfo{{tab.id}}" type="hidden" name="userInfo" value={{user.username}} />
													</div>
													<div align="center" style="margin-bottom: 100px;">
														<button class="requestBtn" type="button"
															id="cancleBtn{{tab.id}}" name="cancle"
															style="background-color: #FB8C8C" >cancel</button>
														<button class="requestBtn" name="ok" type="button" onclick="submitModal({{tab.id}})"
															style="background-color: #67D00B">confirm</button>
													</div>
												</form>
											</div>
											<div align="center" style="margin-bottom: 100px;">
												{% if perms.request.change_requesttable%}
												<button class="requestBtn" id="editBtn{{tab.id}}"
													type="text" name="edit" style="background-color: #FB8C8C">Edit</button>
												<button class="requestBtn" id="delBtn{{tab.id}}"
													type="submit" name="delete"
													style="background-color: #67D00B" data-toggle="modal"
													data-target="#delPlanModal{{tab.id}}"
													style="cursor:pointer">Delete</button>
												<!-- 模态框（Modal） -->
												<div class="modal fade" id="delPlanModal{{tab.id}}"
													tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
													aria-hidden="true" style='margin: -150px 0 0 -100px'>
													<div class="modal-dialog planDelForm">
														<div class="modal-content">
															<div class="modal-header">
																<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
																<h4 class="modal-title" id="myModalLabel">Delete
																	the plan item ?</h4>
															</div>
															<div class="modal-body">
																<form class="delForm" method="POST">
																	{% csrf_token %} <input type="text" name="delPlanId"
																		value={{tab.id}} hidden />
																	<div align="center" style="margin-bottom: 50px;">
																		<button class="requestBtn" type="text"
																			id="cancleDelBtn{{tab.id}}" name="cancle"
																			style="background-color: #FB8C8C"
																			data-dismiss="modal">Cancel</button>
																		<button class="requestBtn" name="ok" type="submit"
																			style="background-color: #67D00B">confirm</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
												<!-- delete plan table modal finish-->
												{% endif %}
												<!-- delete plan table finish-->

												<script type="text/javascript">
													$(document)
															.ready(
																	function() {
																		/* for view or edit*/
																		$(
																				"#editPlanForm{{tab.id}}")
																				.hide();
																		$(
																				"#editBtn{{tab.id}}")
																				.click(
																						function() {
																							$(
																									"#readPlanDiv{{tab.id}}")
																									.hide();
																							$(
																									"#editPlanForm{{tab.id}}")
																									.show();
																							$(
																									this)
																									.hide();
																							$(
																									"#delBtn{{tab.id}}")
																									.hide();
																							$(
																									'#actionDiscriptionEdit{{tab.id}}')
																									.val(
																											$(
																													'#actionDiscriptionEdit{{tab.id}}')
																													.val()
																													.replace(
																															/<br>/g,
																															''));
																							$(
																									'#progressEdit{{tab.id}}')
																									.val(
																											$(
																													'#progressEdit{{tab.id}}')
																													.val()
																													.replace(
																															/<br>/g,
																															''));
																						});

																		$(
																				"#cancleBtn{{tab.id}}")
																				.click(
																						function() {
																							$(
																									"#readPlanDiv{{tab.id}}")
																									.show();
																							$(
																									"#editPlanForm{{tab.id}}")
																									.hide();
																							$(
																									"#editBtn{{tab.id}}")
																									.show();
																							$(
																									"#delBtn{{tab.id}}")
																									.show();
																						});
																	});
												</script>
											</div>
											<!-- admin user edit table :finish-->
											<!-- common user edit progress :start -->
											<!--{% elif user.username == tab.owner %}-->
											<!--<div id="comEdit{{tab.id}}">-->
												<!--<form class="modalForm" method="POST">-->
													<!--{% csrf_token %}-->
													<!--<div class="modalFormContent">-->
														<!--<ul>-->
															<!--<li class="rqleft">ID:</li>-->
															<!--<li class="borderBottom"><input id="idEditCom"-->
																<!--type="text" name="idEditCom" value={{tab.id}} readonly>-->
															<!--</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Product:</li>-->
															<!--<li class="borderBottom">{{tab.project}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Classification:</li>-->
															<!--<li id="readClassification" class="borderBottom">{{tab.classification}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Module:</li>-->
															<!--<li class="borderBottom">{{tab.module}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">TF Case:</li>-->
															<!--<li class="borderBottom">{{tab.tf_case}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Action Discription:</li>-->
															<!--<li class="borderBottom">{{tab.action_discription|safe}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Environment:</li>-->
															<!--<li class="borderBottom">{{tab.environment}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Owner:</li>-->
															<!--<li class="borderBottom">{{tab.owner}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Priority:</li>-->
															<!--<li class="borderBottom">{{tab.priority}}</li>-->
														<!--</ul>-->
														<!--<ul id="viewStatusCom{{tab.id}}">-->
															<!--<li class="rqleft">Status:</li>-->
															<!--<li class="borderBottom">{{tab.status}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Progress:</li>-->
															<!--<li><textarea class="borderWidth modalText"-->
																	<!--id="progressEditCom{{tab.id}}" name="progressEditCom" >{{tab.progress|safe}}</textarea>-->
															<!--</li>-->
														<!--</ul>-->
														<!--<ul id="viewStimeCom{{tab.id}}">-->
															<!--<li class="rqleft">Start Time:</li>-->
															<!--<li class="borderBottom">{{tab.start_time | date:"Y-m-d H:i:s"}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Request Duration:</li>-->
															<!--<li class="borderBottom">{{tab.request_duration}}</li>-->
														<!--</ul>-->
														<!--<ul>-->
															<!--<li class="rqleft">Duration:</li>-->
															<!--<li class="borderBottom">{{tab.duration}}</li>-->
														<!--</ul>-->
													<!--</div>-->
													<!--<div align="center" style="margin-bottom: 100px;">-->
														<!--<button class="requestBtn" type="text"-->
															<!--id="cancleBtnCom{{tab.id}}" name="cancle"-->
															<!--style="background-color: #FB8C8C" data-dismiss="modal">cancle</button>-->
														<!--<button class="requestBtn" name="ok" type="submit"-->
															<!--style="background-color: #67D00B">confirm</button>-->
													<!--</div>-->
												<!--</form>-->
											<!--</div>-->
											<!--<div align="center" style="margin-bottom: 100px;">-->
												<!--<button class="requestBtn" type="text"-->
													<!--id="comEditBtn{{tab.id}}" name="comEdit"-->
													<!--style="background-color: #FB8C8C">Edit</button>-->
												<!--<script type="text/javascript">-->
													<!--$(document)-->
															<!--.ready(-->
																	<!--function() {-->
																		<!--/* for view or edit*/-->
																		<!--$(-->
																				<!--"#comEdit{{tab.id}}")-->
																				<!--.hide();-->

																		<!--$(-->
																				<!--"#comEditBtn{{tab.id}}")-->
																				<!--.click(-->
																						<!--function() {-->
																							<!--$(-->
																									<!--"#readPlanDiv{{tab.id}}")-->
																									<!--.hide();-->
																							<!--$(-->
																									<!--"#comEdit{{tab.id}}")-->
																									<!--.show();-->
																							<!--$(-->
																									<!--this)-->
																									<!--.hide();-->
																							<!--$(-->
																									<!--'#progressEditCom{{tab.id}}')-->
																									<!--.val(-->
																											<!--$(-->
																													<!--'#progressEditCom{{tab.id}}')-->
																													<!--.val()-->
																													<!--.replace(-->
																															<!--/<br>/g,-->
																															<!--''));-->

																							<!--var stimelis = document-->
																									<!--.getElementById(-->
																											<!--"viewStimeCom{{tab.id}}")-->
																									<!--.getElementsByTagName(-->
																											<!--"li");-->
																							<!--if (stimelis[1].innerHTML) {-->
																								<!--$(-->
																										<!--'#viewStimeCom{{tab.id}}')-->
																										<!--.show();-->
																							<!--} else {-->
																								<!--$(-->
																										<!--'#viewStimeCom{{tab.id}}')-->
																										<!--.hide();-->
																							<!--}-->
																						<!--});-->
																	<!--});-->
												<!--</script>-->
											<!--</div>-->
											{% endif %}
											<!-- common user edit progress :finish -->
											<!-- change plan table finish-->
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- 添加模态框（Modal）结束 -->
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="pagination">
						<span class="step-links">
						{% if plan_tab.has_previous %}
							<a class="pagination" href="?page=1"> << </a>
						{% endif %}

						{% ifequal over_range_left "true" %}
						. . .
						{% endifequal %}

						{% ifnotequal range_left "norange" %}
							{% for i in range_left %}
							<a class="pagination" href="?page={{ i }}">{{ i }}</a>
							{% endfor %}
						{% endifnotequal %}

							<a class="pagination-current">{{plan_tab.number}}</a>
						
						{% ifnotequal range_right "norange" %}
							{% for i in range_right %}
							<a class="pagination" href="?page={{ i }}">{{ i }}</a>
							{% endfor %}											
						{% endifnotequal %}

						{% ifequal over_range_right "true" %}
						. . .
						{% endifequal %}

						{% if plan_tab.has_next %}
							<a class="pagination" href="?page={{ plan_tab.paginator.num_pages }}"> >> </a>
						{% endif %}
						</span>
					</div>	
		</div>
	</div>
	<script src="/static/js/filter.js"></script>
	<script>
	function dofilter(){
		var getproduct = get_product();
		var getstatus = get_status();
		window.location.href="?p="+getproduct+"&s="+getstatus;
	}
	
	// Record changed durationEdit id
	$("[name='durationEdit']").change(function(){
		var pk = parseInt(this.id.match("\\d+"));
		var id = this.form.id;
		var changed = $("#changeIdlist"+id).val();
		if (changed.indexOf(pk)<0)
		{
			changed += pk + ",";
		}
		$("#changeIdlist"+id).val(changed);
	});

	function submitModal(id) {
		if ($("#changeIdlist"+id).val()!="")
		{
			var arrId = $("#changeIdlist"+id).val();
			arrId = arrId.substring(0, arrId.length-1);
			var arrIds = arrId.split(",");
			var arrVals = "";
			for (var i=0; i<arrIds.length; i++)
			{
				arrVals += $("#durationEdit" + arrIds[i]).val() + ",";
			}
			var arrVal = arrVals.substring(0, arrVals.length-1);
		}
		if(validatetime(id)){
        postData(id,arrId,arrVal);
        }
    }

	function postData(product_id,arrId,arrVal) {
                    $.ajax({
                        type: "POST",
                        url: "/plan/ajaxpost",
                        data: {
                            'idEdit': product_id,
							'projectEdit':$('#projectEdit' + product_id).val(),
                            'classificationEdit': $('#classificationEdit' + product_id).val(),
                            'moduleEdit': $('#moduleEdit' + product_id).val(),
                            'tfcaseEdit': $("#tfcaseEdit" + product_id).val(),
                            'actionDiscriptionEdit': $("#actionDiscriptionEdit" + product_id).val(),
                            'environmentEdit': $("#environmentEdit" + product_id).val(),
							'priorityEdit':$('#priorityEdit' + product_id).val(),
							'progressEdit':$('#progressEdit' + product_id).val(),
							'serverIdEdit':$('#serverIdEdit' + product_id).val(),
							'statusEdit':$('#statusEdit' + product_id).val(),
							'durationPieceEdit':$('#durationPieceEdit' + product_id).val(),
							'durationDayEdit':$('#durationDayEdit' + product_id).val(),
							'durationHourEdit':$('#durationHourEdit' + product_id).val(),
							'dailyduraPieceEdit':$('#dailyduraPieceEdit' + product_id).val(),
							'dailyduraHourEdit':$('#dailyduraHourEdit' + product_id).val(),
							'yearEdit':$('#startyearid' + product_id).val(),
							'monthEdit':$('#startmonthid' + product_id).val(),
							'dayEdit':$('#startdayid' + product_id).val(),
							'hourEdit':$('#starthourid' + product_id).val(),
							'minuteEdit':$('#startminuteid' + product_id).val(),
							'secondEdit':$('#startsecondid' + product_id).val(),
							'closeYearEdit':$('#closeyearid' + product_id).val(),
							'closeMonthEdit':$('#closemonthid' + product_id).val(),
							'closeDayEdit':$('#closedayid' + product_id).val(),
							'closeHourEdit':$('#closehourid' + product_id).val(),
							'closeMinuteEdit':$('#closeminuteid' + product_id).val(),
							'closeSecondEdit':$('#closesecondid' + product_id).val(),
							'next_targetEdit':$('#next_targetEdit' + product_id).val(),
							'ownerEdit':$('#ownerEdit' + product_id).val(),
							'userInfo':$('#userInfo' + product_id).val(),
							'arrId': arrId,
							'arrVal':arrVal
                        },

                        dataType: "json",
                        success: function (ret) {
                            //update table view
                            
                            $("#project" + product_id).text($('#projectEdit' + product_id).val());
							$("#module" + product_id).text($('#moduleEdit' + product_id).val());
							$("#action_discription" + product_id).text($('#actionDiscriptionEdit' + product_id).val());
							if ($('#closeyearid' + product_id).val()==""){
								$("#status" + product_id).text($('#statusEdit' + product_id).val());}
							else{
								$("#status" + product_id).text('close');
								$("#statusSelected" + product_id).text('close');
							}
							if(ret.edit_stime != "-- ::"){
								$("#start_time" + product_id).text(ret.edit_stime);}
								
							//update modal table
							$("#product" + product_id).text($('#projectEdit' + product_id).val());
							$("#readClassification" + product_id).text($('#classificationEdit' + product_id).val());
							$("#readmodule" + product_id).text($('#moduleEdit' + product_id).val());
							$("#tf_case" + product_id).text($('#tfcaseEdit' + product_id).val());
							$("#readaction_discription" + product_id).text($('#actionDiscriptionEdit' + product_id).val());
							$("#environment" + product_id).text($('#environmentEdit' + product_id).val());
							$("#priority" + product_id).text($('#priorityEdit' + product_id).val());
							$("#serverid"+product_id).text($('#serverIdEdit'+product_id).val());
							$("#readstatus" + product_id).text($('#statusEdit' + product_id).val());
							$("#progress" + product_id).text($('#progressEdit' + product_id).val());
							if(ret.edit_stime != "-- ::"){
								$("#readstart_time" + product_id).text(ret.edit_stime);}
							$("#request_duration" + product_id).text(ret.request_dura);
							$("#daily_duration" + product_id).text(ret.daily_dura);
							if(ret.total != null){
								$("#duration" + product_id).text(ret.total+"Hour");
							}
							else{
								$("#duration" + product_id).text('');
							}
							if(ret.utc_time != null){
								$("#close_time" + product_id).text(ret.utc_time);
							}else{
								$("#close_time" + product_id).text('');
							}
							$("#next_target" + product_id).text($('#next_targetEdit' + product_id).val());
							$("#totalduration" + product_id).text(ret.total+"Hour")
							
                            //hide modal
							
                            	$("#planModal"+product_id).modal('hide');
								$("#editPlanForm"+product_id).hide();
								$("#readPlanDiv"+product_id).show();
								$("#editBtn"+product_id).show();
								$("#delBtn"+product_id).show();
                        }
                    })
                }
	</script>
</body>
</html>
