.btn {
    outline:none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec
    }

.btn-all {
    color: inherit;
    background: #df6b2c;
    border: 1px solid #df6b2c;
    color: white;
}


.btn-xs {
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.filter-selected
{
    border-color: #1ab394; 
}