<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" media="screen" />
<link rel="Bookmark" href="/static/images/favicon.ico">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Zebu Schedule</title>
<!-- CSS -->
<!-- <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
<!--  <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/com.css" />
<link rel="stylesheet" href="/static/home/css/Weekly.css" />
<link rel="stylesheet" href="/static/home/css/schedule.css" />
<!--  <link rel="stylesheet" href="/static/home/css/jquery.webui-popover.min.css">-->
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/home/js/WeeklyReport.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
	/mobi/i.test(navigator.userAgent) && !location.hash
			&& setTimeout(function() {
				if (!pageYOffset)
					window.scrollTo(0, 1);
			}, 1000);
    
      $(function ()
      { $("[data-toggle='popover']").popover();
      });

</script>
</head>
<body>
	<!-- 头文件 -->
	<div class="head">
		<img class="imgleftright" src="/static/images/background-left.png" />
		<img class="imgcenter" src="/static/images/background-middle.png" />
		<img class="imgleftright" src="/static/images/background-right.png" />
		<div class="clearfix"></div>
		<table class="headtable">
			<tr>
				<td><a href="#"><img src="/static/images/zebu.png" /></a></td>
			</tr>
			<tr>
				<td>
					<ul class="select">
						<li class="select-list">
							<dl id="select1">
								<dd>
									<a href="/">Login</a>
								</dd>
								<dd class="select-all selected">
									<a href="/home">Home</a>
								</dd>
								<dd>
									<a href="/request">Request</a>
								</dd>
								<dd>
									<a href="/plan">Plan</a>
								</dd>
								<dd>
									<a href="/report">Report</a>
								</dd>
							</dl>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<!-- 中间部分 -->
	<div class="middle">
		<div class="middletitle">
			<p>
				<span class="middletite1"> <a href="/" class="title">Login</a>&nbsp;&nbsp;-&nbsp;&nbsp;
					<a href="/home" class="title">Home</a>
				</span>
			</p>
		</div>
		<!-- 左侧模块 -->
		<div class="middleleft">
			<div class="middleleft2" style="position: relative; top: -16px;">
				<div class="middleleft_center">
					<ul>
						<li id="middleleft_center_topli"><a href="exportTab">Export
								Excel</a></li>
						<li><a href="#">&nbsp;</a></li>
						<li><a href="#">&nbsp;</a></li>
						<li id="middleleft_center_bottomli"><a href="#">&nbsp;</a></li>
					</ul>
				</div>
			</div>
			{% if perms.home.add_scheduleinfo %}
			<div class="middleleft_bottom_new" data-toggle="modal" data-target="#scheduleModal"  style="cursor:pointer">
				<a >Edit</a>
			</div>
			<!--弹出模态框（Modal） -->
			<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
             <div class="modal-dialog" style = "width:800px">
                 <div class="modal-content">
                     <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="scheduleModalLabel">Edit Schedule</h4>
                     </div>
                     <div class="modal-body">
                       <form class="scheduleForm" method="POST">
                         {% csrf_token %}
                         <table  class="scheduleTable">
						         <tr>
							        <th scope="col" width="120px"><span>Date</span></th>
							        <th scope="col" width="120px"><span>Time</span></th>
							        <th scope="col" width="84px"><span>Total</span></th>
							        <th scope="col" width="84px"><span>Used</span></th>
							        <th scope="col" width="340px"><span>Arrangement</span></th>
						         </tr>
						         {% for tab in schedule_tab %}
						         <tr>
                             <td><input class="scheduleInput" type="text" name="dateEdit{{tab.0}}"value={{tab.4 | date:"Y-m-d"}} readonly></td>
                             <td><input class="scheduleInput" type="text" name="timeEdit{{tab.0}}"value={{tab.5}} readonly></td>
                             <td><input class="scheduleInput" type="text" name="totalEdit{{tab.0}}"value={{tab.1}}></td>
                             <td><input class="scheduleInput" type="text" name="usedEdit{{tab.0}}"value={{tab.2}}></td>
                             <td><textarea class="scheduleText" name="arrangementEdit{{tab.0}}">{{tab.3}}</textarea></td>
                           </tr>
						         {% endfor %}
                         </table>
                         <div class="scheduleDiv">
                            <button class= "scheduleBtn" type="text" style="background-color: #FB8C8C" data-dismiss="modal">cancle</button>
                            <button class= "scheduleBtn" type="submit" style="background-color:#67D00B ">confirm</button>
                         </div>
                       </form>
                     </div>
                 </div>
             </div>
         </div>
		   <!-- 添加模态框（Modal）结束 -->
			{% endif %}
			<!-- new schedule info finish -->

		</div>
		<!-- 中间模板 -->
		<div class="divcenter">
			<div>
				<div class="divst">
					<div class="weekAll" style="background: #F8F8F8">
						<input id="buttonWeeklyReport" class="buttonWeeklyReport"
							type="button" value="{{cur_week.1}}&nbsp;week,&nbsp;&nbsp;{{cur_week.0}},&nbsp;{{cur_date.7}}"
							style="font-size: 14px; background: #e2e3e3" />
						<input id="cur_day" style="display:none" value="{{cur_week.2}}"/>
					</div>
				</div>
				<ul class="weekly_bl" style="padding-left: 0">
					<li id="time"
						style="width: 96px; height: 50px; text-align: center; line-height: 48px; background-color: #e2e3e3;"></li>
					<li id="week1" onClick="weekClick(1)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Monday<br>{{cur_date.0}}</li>
					<li id="week2" onClick="weekClick(2)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Tuesday<br>{{cur_date.1}}</li>
					<li id="week3" onClick="weekClick(3)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Wednesday<br>{{cur_date.2}}</li>
					<li id="week4" onClick="weekClick(4)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Thursday<br>{{cur_date.3}}</li>
					<li id="week5" onClick="weekClick(5)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Friday<br>{{cur_date.4}}</li>
					<li id="week6" onClick="weekClick(6)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;">Saturday<br>{{cur_date.5}}</li>
					<li id="week7" onClick="weekClick(7)"
						style="width: 96px; height: 50px; line-height: 200%; background-color: #e2e3e3;"
						class="rightli">Sunday<br>{{cur_date.6}}</li>
				</ul>
				<ul class="weekly_bl" style="padding-left: 0px">
					<li id="time1"
						style="width: 96px; height: 174px; text-align: center; line-height: 90px; background-color: #e2e3e3;">10:00~22:00</li>
					{% for item in curday_schedule %}
					<li id="total{{item.0}}" value="{{item.1}}"
						style="width: 96px; height: 174px; background-color: #e2e3e3;" 
						title="Details" data-container="body" data-toggle="popover" data-placement="auto" data-html="true" data-trigger = "hover"
                  data-content="<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}">
						<div class="listyle" style="display: none">
							<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}
						</div>
						<canvas id="W3Cfuns_canvas{{item.0}}" width="96px" height="174px"></canvas>
					</li>
					<li id="used{{item.0}}" style="display: none"
						value="{{item.2}}"></li>
					{% endfor %}
				</ul>
				<ul class="weekly_bl" style="padding-left: 0px">
					<li id="time2"
						style="width: 96px; height: 174px; text-align: center; line-height: 90px;; background-color: #e2e3e3;">22:00~10:00</li>
					{% for item in curnight_schedule %}
					<li id="total{{item.0}}" value="{{item.1}}"
						style="width: 96px; height: 174px; background-color: #e2e3e3;"
						title="Details" data-container="body" data-toggle="popover" data-placement="auto" data-html="true" data-trigger = "hover"
                  data-content="<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}">
						<div class="listyle" style="display: none">
							<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}
						</div>
						<canvas id="W3Cfuns_canvas{{item.0}}" width="96px" height="174px"></canvas>
					</li>
					<li id="used{{item.0}}" style="display: none" value="{{item.2}}"></li>
					{% endfor %}
				</ul>
			</div>
			<div class="divst">
				<div class="weekAll" style="background: #F8F8F8;">
					<input id="buttonWeeklyReport1" class="buttonWeeklyReport"
						type="button" value="{{next_week.1}}&nbsp;week,&nbsp;&nbsp;{{next_week.0}},&nbsp;{{next_date.7}}"
						style="font-size: 14px; background-color: #e2e3e3" />
				</div>
				<ul class="weekly_bl"
					style="background-color: 00bfff; padding-left: 0px">
					<li id="time"
						style="width: 96px; height: 50px; text-align: center; line-height: 48px;"></li>
					<li id="week8" onClick="weekClick(8)"
						style="width: 96px; height: 50px; line-height: 200%;">Monday<br>{{next_date.0}}</li>
					<li id="week9" onClick="weekClick(9)"
						style="width: 96px; height: 50px; line-height: 200%;">Tuesday<br>{{next_date.1}}</li>
					<li id="week10" onClick="weekClick(10)"
						style="width: 96px; height: 50px; line-height: 200%;">Wednesday<br>{{next_date.2}}</li>
					<li id="week11" onClick="weekClick(11)"
						style="width: 96px; height: 50px; line-height: 200%;">Thursday<br>{{next_date.3}}</li>
					<li id="week12" onClick="weekClick(12)"
						style="width: 96px; height: 50px; line-height: 200%;">Friday<br>{{next_date.4}}</li>
					<li id="week13" onClick="weekClick(13)"
						style="width: 96px; height: 50px; line-height: 200%;">Saturday<br>{{next_date.5}}</li>
					<li id="week14" onClick="weekClick(14)"
						style="width: 96px; height: 50px; line-height: 200%;"
						class="rightli">Sunday<br>{{next_date.6}}</li>

				</ul>
				<ul class="weekly_bl"
					style="background-color: 00bfff; padding-left: 0px">
					<li id="time6"
						style="width: 96px; height: 174px; text-align: center; line-height: 90px;">10:00~22:00</li>
					{% for item in nextday_schedule %}
					<li id="total{{item.0}}" value="{{item.1}}"
						style="width: 96px; height: 174px;"
						title="Details" data-container="body" data-toggle="popover" data-placement="auto" data-html="true" data-trigger = "hover"
                  data-content="<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}">
						<div class="listyle" style="display: none">
							<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}
						</div>
						<canvas id="W3Cfuns_canvas{{item.0}}" width="96px" height="174px"></canvas>
					</li>
					<li id="used{{item.0}}" style="display: none" value="{{item.2}}"></li>
					{% endfor %}
				</ul>
				<ul class="weekly_bl"
					style="background-color: 00bfff; padding-left: 0px">
					<li id="time7"
						style="width: 96px; height: 174px; text-align: center; line-height: 90px;">22:00~10:00</li>
					{% for item in nextnight_schedule %}
					<li id="total{{item.0}}" value="{{item.1}}"
						style="width: 96px; height: 174px;"
						title="Details" data-container="body" data-toggle="popover" data-placement="auto" data-html="true" data-trigger = "hover"
                  data-content="<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}">
						<div class="listyle" style="display: none">
							<strong>Total:</strong>{{item.1}}<br>
							<strong>Used:</strong>{{item.2}}<br>
							<strong>Information:</strong>{{item.3}}
						</div>
						<canvas id="W3Cfuns_canvas{{item.0}}" width="96px" height="174px"></canvas>
					</li>
					<li id="used{{item.0}}" style="display: none" value="{{item.2}}"></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>